<div class="mt-10 flex flex-row content-center items-center">
    <h1 class="text-6xl font-black text-transparent bg-clip-text bg-gradient-to-r from-[#6fafee] to-[#73c993]">
        Humilink
    </h1>

</div>
<h2 class="text-2xl font-bold text-gray-400"> Your space for shorten, share and analyze.</h2>
<div class="flex flex-row gap-x-2 h-auto items-start m-10">
    <label for="n-humi-input" class="text-lg font-medium flex items-center"> New Humilink</label>
    <div class="flex flex-col justify-center items-center relative">
        <input [(ngModel)]="newHumiURL" name="newHumiURL" id="n-humi-input" type="text"
            (ngModelChange)="onUrlChange($event)" placeholder="https://mi-sitio-web.com/pagina-larga"
            class="border-2 w-[36rem] px-2 py-7 h-8 outline-none rounded-lg duration-150 hover:border-blue-300 focus:border-[#73c993] transition-all focus:shadow-sm focus:scale-105 focus:mx-3">

        <!-- Container con altura fija para reservar espacio -->
        <div class="h-16 w-full relative">
            <div class="absolute inset-x-0 top-2 flex justify-center duration-500 transition-all"
                [ngClass]="{'translate-y-0 opacity-100': isValid, 'translate-y-full opacity-0': !isValid}">
                <div class="flex flex-row">
                    <label for="n-humi-title-input" class="text-lg font-medium flex items-center mr-2"> Title</label>
                    <input [(ngModel)]="newHumiTitle" id="n-humi-title-input" type="text"
                        placeholder="Título del enlace"
                        class="border-2 w-[18rem] px-2 py-7 h-8 outline-none rounded-lg duration-150 hover:border-blue-300 focus:border-[#73c993] transition-all focus:shadow-sm">
                </div>
            </div>
        </div>
    </div>

    <button [disabled]="!isValid"
        class="h-min bg-gradient-to-r ml-10 shadow-inset-neumorphic-sm transition-all duration-100 text-white font-medium enabled:from-[#6fafee] enabled:to-[#73c993] rounded-lg p-4 enabled:active:shadow-inset-pressed disabled:bg-gray-400 disabled:cursor-not-allowed hover:scale-110"
        (click)="addHumi()">
        Let´s Go
    </button>
</div>