<div class="bg-neo-gradient flex flex-col items-center justify-center min-h-screen p-4 md:p-2">
  <div class="flex flex-row">
    <h1 class="mb-10 text-4xl font-semibold">Welcome to <span
        class="text-4xl font-black text-transparent bg-clip-text bg-gradient-to-r from-[#6fafee] to-[#73c993] inline-block">Humilink</span>
    </h1>
  </div>

  <div
    class="bg-white border-solid border-gray-200 transition-all duration-500 hover:shadow-neo-sm border-2 w-full max-w-3xl rounded-3xl flex flex-col p-6 md:p-8 ">
    <h1 class="text-2xl font-semibold self-center text-gray-800 text-center md:text-left">Sign in</h1>
    <div class="flex flex-col md:flex-row md:gap-6">
      <form (ngSubmit)="login()" class="space-y-6 w-full md:w-2/3 md:flex-grow">
        <div class="space-y-2">
          <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required
            class="block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm text-gray-900 shadow-inset-field">
        </div>

        <div class="space-y-2 relative">
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>

          <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" autocomplete="off" required
            [(ngModel)]="password"
            class="block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm shadow-inset-field text-gray-900 pr-12" />

          <button type="button" (click)="togglePasswordVisibility()"
            class="absolute right-3 top-[30px] text-sm text-gray-600 focus:outline-none">
            @if (showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            }@else {
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
            </svg>
            }
          </button>
        </div>

        <button type="submit"
          class="w-full h-15 py-2 px-4 rounded-lg bg-[#A3D2CA] shadow-inset-neumorphic transform transition-transform duration-200 ease-in-out hover:scale-105 active:shadow-inset-pressed">
          Let's Go
        </button>

        <button type="button" (click)="register()"
          class="w-full h-15 py-2 px-4 rounded-lg bg-[#F6E6D6] shadow-inset-neumorphic transform transition-transform duration-200 ease-in-out hover:scale-105 active:shadow-inset-pressed">
          I'm new here
        </button>

        <div class="text-center md:text-left">
          <a href="/forgot-password" class="text-sm text-pink-950 hover:underline">I forgot my password</a>
        </div>
      </form>

      <div class="hidden md:flex md:items-center md:justify-center md:w-1/3">
        <img src="assets/images/humi.webp" alt="Humi Logo" class="max-w-full max-h-64">
      </div>
    </div>
  </div>
</div>